<p id="notice"><%= notice %></p>

<p>
  <strong>Payload:</strong>
  <%= @lora_message.payload %>
</p>

<%= link_to 'Edit', edit_lora_message_path(@lora_message) %> |
<%= link_to 'Back', lora_messages_path %>
